<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="index :: head('Courses')"></head>
<body>
<div class="container-fluid pb-4 min-vh-100">
    <header th:replace="fragments/header :: header"></header>
    <section>
        <div class="container">
            <div class="row text-left mt-5 mb-5">
                <div class="col-sm-10 align-middle">
                    <h2>Courses</h2>
                </div>
                <div class="col-sm-2" sec:authorize="hasAnyAuthority('courses::write')">
                    <div th:replace="fragments/buttons :: primaryButton('Add Course', '/courses/new')"></div>
                </div>
            </div>
            <h3 th:if="${#lists.isEmpty(courses)}" class="text-center">List is Empty</h3>
            <table class="table" th:unless="${#lists.isEmpty(courses)}" data-test="courses-table">
                <thead>
                <tr>
                    <th scope="col" style="width: 5%">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Professors</th>
                    <th scope="col" style="width: 10%" sec:authorize="hasAnyAuthority('courses::write')">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="course : ${courses}" data-test="course-item-row">
                    <th scope="row" th:text="${course.id}"></th>
                    <td th:text="${course.name}"></td>
                    <td th:text="${course.description}"></td>
                    <td th:text="${#strings.listJoin(course.getProfessorsFullNames(), ', ')}"></td>
                    <td sec:authorize="hasAnyAuthority('courses::write')">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a th:href="@{/courses/{id}/edit(id=${course.id})}" class="btn btn-primary me-md-2 btn-sm"
                               tabindex="-1"
                               role="button">Edit</a>
                            <a th:href="@{/courses/{id}/delete(id=${course.id})}" class="btn btn-primary btn-sm"
                               tabindex="-1"
                               role="button">Delete</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <footer th:replace="fragments/footer :: footer"></footer>
</div>
<script th:replace="index :: required-scripts"></script>
</body>
</html>
