<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="index :: head('Edit Group')"></head>
<body>
<div class="container-fluid pb-4 min-vh-100">
    <header th:replace="fragments/header :: header"></header>

    <section>
        <div class="container-lg">
            <div class="row justify-content-center overflow-hidden" style="height: 100vh;">
                <div class="mx-auto col-10 col-md-8 col-lg-6">
                    <h1 class="mb-3 mt-3">Edit Group</h1>
                    <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger"
                         role="alert"></div>
                    <form th:action="@{/groups/{id}/edit(id=${group.id})}" method="post" th:object="${group}"
                          data-test="edit-group-form">
                        <div class="row mb-3">
                            <div class="col">
                                <label for="group-name" class="form-label">Group Name</label>
                                <div id="group-name" th:replace="fragments/user-inputs :: textInput(field='name', placeholder='Group Name', required=true)"></div>
                            </div>
                        </div>

                        <div id="students_view" class="mb-3 row" th:unless="*{students.empty}">
                            <div class="col">
                                <label for="students" class="form-label">Assigned Students (readonly)</label>
                                <table class="table" data-test="students-table" id="students">
                                    <thead>
                                    <tr>
                                        <th scope="col">Full Name</th>
                                        <th scope="col">Email</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="student : *{students}" data-test="student-item-row">
                                        <td th:text="${student.getFullName()}"></td>
                                        <td th:text="${student.email}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col text-end">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer th:replace="fragments/footer :: footer"></footer>
</div>
<script th:replace="index :: required-scripts"></script>
</body>
</html>