<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:replace="index :: head('Groups')"></head>
<body>
<div class="container-fluid bg-secondary-subtle pb-4 min-vh-100">
    <header th:replace="fragments/header :: header"></header>
    <section>
        <div class="container">
            <div class="row text-left mt-5 mb-5">
                <div class="col-sm-10 align-middle">
                    <h2>Groups</h2>
                </div>
                <div class="col-sm-2 text-center align-self-center" sec:authorize="hasAnyAuthority('groups::write')">
                    <a th:href="@{/groups/new}" class="btn btn-secondary btn-success" tabindex="-1" role="button">Add
                        Group</a>
                </div>
            </div>
            <h3 th:if="${groups.empty}" class="text-center">List is Empty</h3>
            <table class="table" th:unless="${groups.empty}" data-test="groups-table">
                <thead>
                <tr>
                    <th scope="col" style="width: 5%">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Students Quantity</th>
                    <th scope="col" style="width: 10%" sec:authorize="hasAnyAuthority('groups::write')">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="group : ${groups}" data-test="group-item-row">
                    <th scope="row" th:text="${group.id}"></th>
                    <td><a th:href="@{/groups/{id}/view(id=${group.id})}" th:text="${group.name}"></a></td>
                    <td th:text="${#lists.size(group.students)}"></td>
                    <td sec:authorize="hasAnyAuthority('groups::write')">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a th:href="@{/groups/{id}/edit(id=${group.id})}" class="btn btn-primary me-md-2 btn-sm"
                               tabindex="-1"
                               role="button">Edit</a>
                            <a th:href="@{/groups/{id}/delete(id=${group.id})}" class="btn btn-primary btn-sm"
                               tabindex="-1"
                               role="button">Delete</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <footer th:replace="fragments/footer :: footer"></footer>
</div>
<script th:replace="index :: required-scripts"></script>
</body>
</html>
