<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="index :: index">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
<div th:fragment="content" class="container">
    <div class="container text-left mt-5 mb-5">
        <div class="row">
            <div class="col-sm-10 align-middle">
                <h2>Lessons</h2>
            </div>
            <div class="col-sm-2 text-center align-self-center">
                <a th:href="@{/lessons/create}" class="btn btn-secondary btn-success" tabindex="-1" role="button">Add
                    Lesson</a>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col" style="width: 5%">ID</th>
            <th scope="col">Group</th>
            <th scope="col">Room</th>
            <th scope="col">Course</th>
            <th scope="col">Professor</th>
            <th scope="col">Week Number</th>
            <th scope="col">Day Of Week</th>
            <th scope="col">Order</th>
            <th scope="col" style="width: 10%">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lesson : ${lessons}">
            <th scope="row" th:text="${lesson.id}"></th>
            <td th:text="${lesson.group.name}"></td>
            <td th:text="${lesson.room.code}"></td>
            <td th:text="${lesson.course.name}"></td>
            <td th:text="${lesson.professor.firstName} + ' ' + ${lesson.professor.lastName}"></td>
            <td th:text="${lesson.weekNumber}"></td>
            <td th:text="${lesson.dayOfWeek}"></td>
            <td th:text="${lesson.order}"></td>
            <td>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a th:href="@{/lessons/{id}/view(id=${lesson.id})}" class="btn btn-primary me-md-2 btn-sm"
                       tabindex="-1"
                       role="button">View</a>
                    <a th:href="@{/lessons/{id}/edit(id=${lesson.id})}" class="btn btn-primary me-md-2 btn-sm"
                       tabindex="-1"
                       role="button">Edit</a>
                    <a th:href="@{/lessons/{id}/delete(id=${lesson.id})}" class="btn btn-primary btn-sm"
                       tabindex="-1"
                       role="button">Delete</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
