<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="index :: index">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
<div th:fragment="content" class="container">
    <div class="container text-left mt-5 mb-5">
        <div class="row">
            <div class="col-sm-10 align-middle">
                <h2>Professors</h2>
            </div>
            <div class="col-sm-2 text-center align-self-center">
                <a th:href="@{/professors/create}" class="btn btn-secondary btn-success" tabindex="-1"
                   role="button">Add
                    Professor</a>
            </div>
        </div>
    </div>
    <h3 th:if="${professors.empty}" class="text-center">List is Empty</h3>
    <table class="table" th:unless="${professors.empty}" data-test="professors-table">
        <thead>
        <tr>
            <th scope="col" style="width: 5%">ID</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col" style="width: 10%">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="professor : ${professors}" data-test="professor-item-row">
            <th scope="row" th:text="${professor.id}"></th>
            <td th:text="${professor.firstName} + ' ' + ${professor.lastName}"></td>
            <td th:text="${professor.email}"></td>
            <td>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a th:href="@{/professors/{id}/view(id=${professor.id})}" class="btn btn-primary me-md-2 btn-sm"
                       tabindex="-1"
                       role="button">View</a>
                    <a th:href="@{/professors/{id}/edit(id=${professor.id})}" class="btn btn-primary me-md-2 btn-sm"
                       tabindex="-1"
                       role="button">Edit</a>
                    <a th:href="@{/professors/{id}/delete(id=${professor.id})}" class="btn btn-primary btn-sm"
                       tabindex="-1"
                       role="button">Delete</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
