<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
<div th:fragment="content" class="container">
    <div class="container text-left mt-5 mb-5">
        <div class="row">
            <div class="col-sm-10 align-middle">
                <h2>Rooms</h2>
            </div>
            <div class="col-sm-2 text-center align-self-center">
                <a th:href="@{/rooms/create}" class="btn btn-secondary btn-success" tabindex="-1" role="button">Add
                    Room</a>
            </div>
        </div>
    </div>
    <h3 th:if="${rooms.empty}" class="text-center">List is Empty</h3>
    <table class="table" th:unless="${rooms.empty}" data-test="rooms-table">
        <thead>
        <tr>
            <th scope="col" style="width: 5%">ID</th>
            <th scope="col">Code</th>
            <th scope="col" style="width: 10%">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="room : ${rooms}" data-test="room-item-row">
            <th scope="row" th:text="${room.id}"></th>
            <td th:text="${room.code}"></td>
            <td>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a th:href="@{/rooms/{id}/view(id=${room.id})}" class="btn btn-primary me-md-2 btn-sm"
                       tabindex="-1"
                       role="button">View</a>
                    <a th:href="@{/rooms/{id}/edit(id=${room.id})}" class="btn btn-primary me-md-2 btn-sm"
                       tabindex="-1"
                       role="button">Edit</a>
                    <a th:href="@{/rooms/{id}/delete(id=${room.id})}" class="btn btn-primary btn-sm" tabindex="-1"
                       role="button">Delete</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
