<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="index :: head('Users')"></head>
<body>
<div class="container-fluid pb-4 min-vh-100">
    <header th:replace="fragments/header :: header"></header>
    <section>
        <div class="container">
            <div class="row text-left mt-5 mb-5">
                <div class="col-sm-10 align-middle">
                    <h2>Users</h2>
                </div>
                <div class="col-sm-2">
                    <div th:replace="fragments/buttons :: primaryButton('Add User', '/users/new')"></div>
                </div>
            </div>
            <h3 th:if="${users.isEmpty()}" class="text-center">List is Empty</h3>
            <div class="table-responsive">
                <table class="table table-bordered table-fixed" th:unless="${users.isEmpty()}">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 5%">ID</th>
                        <th scope="col">Full Name</th>
                        <th scope="col" style="width: 5%">Group</th>
                        <th scope="col">Email</th>
                        <th scope="col">Courses</th>
                        <th scope="col">Roles</th>
                        <th scope="col" style="width: 6%">Status</th>
                        <th scope="col" style="width: 10%"
                            sec:authorize="hasAnyAuthority('users::write')">
                            Actions
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}" data-test="student-item-row">
                        <th scope="row" th:text="${user.id}"></th>
                        <td th:text="${user.firstName + ' ' + user.lastName}" class="text-overflow-ellipsis"></td>
                        <td>
                            <a th:unless="${user.group == null}"
                               th:href="@{/groups/{id}/view(id=${user.group.id})}"
                               th:text="${user.group.name}"
                            ></a>
                        </td>
                        <td th:text="${user.email}" class="text-overflow-ellipsis"></td>
                        <td th:text="${#strings.listJoin(user.courses.![name], ', ')}"
                            th:title="${#strings.listJoin(user.courses.![name], ', ')}"
                            class="text-overflow-ellipsis"></td>
                        <td th:text="${#strings.listJoin(user.roles.![name], ', ')}"
                            th:title="${#strings.listJoin(user.roles.![name], ', ')}"
                            class="text-overflow-ellipsis"></td>
                        <td>
                            <span class="badge"
                                  th:text="${user.enabled ? 'Active' : 'Disabled'}"
                                  th:classappend="${user.enabled ? 'text-bg-success' : 'text-bg-danger'}">
                            </span>
                        </td>
                        <td sec:authorize="hasAnyAuthority('users::write')">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <a th:href="@{/users/{id}/edit(id=${user.id})}" class="btn btn-primary me-md-2 btn-sm"
                                   tabindex="-1"
                                   role="button">Edit</a>
                                <a th:href="@{/users/{id}/delete(id=${user.id})}" class="btn btn-primary btn-sm"
                                   tabindex="-1"
                                   role="button">Delete</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <nav aria-label="pagination">
                <ul class="pagination pagination-sm justify-content-end" th:if="${users.totalPages > 0}">
                    <li th:classappend="${pageNumber == users.number + 1} ? active" class="page-item"
                        aria-current="page" th:each="pageNumber : ${pageNumbers}">
                        <a th:href="@{/users(size=${users.size}, page=${pageNumber})}"
                           th:text="${pageNumber}"
                           class="page-link"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    <footer th:replace="fragments/footer :: footer"></footer>
</div>
<script th:replace="index :: required-scripts"></script>
</body>
</html>
